.welcome {

	font-size: 1000%;
	font-family: var(--main-font-l);
}

.introtext {

	font-size: 250%;
	font-family: var(--main-font);
}

.title {

	font-size: 625%;
	font-family: var(--main-font-m);

}

.id {

  width: 75%;
  margin: 4rem auto;
  padding: 3rem;

  background: rgba(240, 240, 240, 0.1);
  border-radius: 25px;
  box-shadow: inset 5px 5px 20px 10px #f0f0f0, inset -5px -5px 50px 10px #FFFFFF52;
  
    transition: transform 0.5s;
}

.id:hover {

	transform: scale(1.1);
}

.id_inside {

	display: flex;
	gap: 2.5rem;
}

.id_left {

	width: 30%;
	font-size: 100%;
}

.id_left > img {

	border-radius: 100%;
	width: 60%;
}

.id_right {

	text-align: left;
	font-size: 200%;
	
	display: flex;
	flex-direction: column;
	gap: 1rem;

}

.id_right > div > img {

  vertical-align: middle;
  max-height: 1.25em;
  margin-top: -0.2rem;
}

.id_otherlinks {

	font-size: 75%;
}

#devices {

   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   gap: 2rem;
}

.device {

	width: 44%;
	max-width: 100%;

  text-align: center;

  background: rgba(240, 240, 240, 0.1);
  border-radius: 25px;
  box-shadow: inset 5px 5px 20px 10px #f0f0f0, inset -5px -5px 50px 10px #FFFFFF52;
  
  padding : 2rem;

}

.device_title {

	font-size: 250%;
	color: #000000;
	font-family: var(--main-font-m);

}

.device_description {

	font-size: 150%;

	text-align: left;
	color: #000000;

	display: flex;
	flex-direction: column;
	gap: 1rem;

}

.device_image {
  width: 100%;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.device_image > img {
  max-width: 100%;
  max-height: 350px;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}
