.welcome {

	font-size: 1000%;
	font-family: var(--main-font-l);
}

.introtext {

	font-size: 250%;
	font-family: var(--main-font);
}

.title {

	font-size: 625%;
	font-family: var(--main-font-m);

}

.id {

  width: 75%;
  margin: 4rem auto;
  padding: 3rem;

  background: rgba(240, 240, 240, 0.1);
  border-radius: 25px;
  box-shadow: inset 5px 5px 20px 10px #f0f0f0, inset -5px -5px 50px 10px #FFFFFF52;
  
    transition: transform 0.5s;
}

.id:hover {

	transform: scale(1.1);
}

.id_inside {

	display: flex;
	gap: 2.5rem;
}

.id_left {

	width: 30%;
	font-size: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.id_left > div > img {

	border-radius: 100%;
	width: 60%;
}

.id_separator {

	border-right: 2px solid #e5e5e5;

}

.id_right {

	text-align: left;
	font-size: 200%;
	
	display: flex;
	flex-direction: column;
	gap: 1rem;

}

.id_right > div > img {

  vertical-align: middle;
  max-height: 1.25em;
  margin-top: -0.2rem;
}

.id_otherlinks {

	font-size: 75%;
}

#devices {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.device {

  width: 42%;
  max-width: 100%;
  text-align: center;
  background: rgba(240, 240, 240, 0.1);
  border-radius: 25px;
  box-shadow: inset 5px 5px 20px 10px #f0f0f0, inset -5px -5px 50px 10px #FFFFFF52;
  padding: 2rem;
  margin-bottom: 2rem;
}
	
.device_title {

	font-size: 250%;
	color: #000000;
	font-family: var(--main-font-m);

}

.device_description {

	font-size: 150%;

	text-align: left;
	color: #000000;

	display: flex;
	flex-direction: column;
	gap: 1rem;

}

.device_image {
  width: 100%;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.device_image > img {
  max-width: 100%;
  max-height: 350px;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}


@media (max-width: 1200px) {
	
	.id {
	  padding: 2rem 3rem 1rem 3rem;
	}
	
	.id_inside {
			
		flex-direction: column;
	}
	
	.id_left {

		order: 1;
		width: 100%;
		flex-direction: row;
		gap: 1%;
	}
	
	.id_left > div {

		width: 49.5%;
		font-size: 200%;
	}
	
	.id_separator {
		
		display: none;
	}
	
	.id_right {
	
		font-size: 250%;	
	}
	
	.project {

	  width: auto;
	}
	
	#devices {
	
		font-size: 150%;
	  flex-direction: column;
	  justify-content: space-between;
	}

	.device {
	  width: auto;
	}
}

@media (max-width: 800px) {

	#devices {

		font-size: 150%;
	}
}
