.welcome {
  font-size: var(--welcome-size);
  font-family: var(--main-font-l);
}

.introtext {
  font-size: var(--subtitle-size);
  font-family: var(--main-font);
}

.title {
  font-size: var(--subtitle-size);
  font-family: var(--main-font-m);
}

.id {
  width: 75%;
  margin: 5rem auto 6rem;
  padding: 3rem;
  box-sizing: border-box;
  transition: transform 0.5s;
}

.id:hover {
  transform: scale(1.1);
}

.id_inside {
  display: flex;
  gap: 2.5rem;
}

.id_left {
  width: 30%;
  font-size: var(--text-size-small);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.id_left > div > img {
  border-radius: 100%;
  width: 60%;
}

.id_separator {
  border-right: 2px solid #e5e5e5;
}

.id_right {
  text-align: left;
  font-size: var(--text-size-big);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.id_right > div > img {
  vertical-align: middle;
  max-height: 1.25em;
  margin-top: -0.2rem;
}

.id_otherlinks {
  font-size: var(--text-size);
}

#devices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.device {
  width: 47%;
  max-width: 100%;
  text-align: center;
  padding: 2rem;
  margin: 3rem 0;
  box-sizing: border-box;
}

.device_summary {
  display: none;
}

.device_title,
.device_summary {
  font-size: var(--subtitle-size);
  color: #000000;
  font-family: var(--main-font-m);
}

.device_description {
  font-size: var(--text-size);

  text-align: left;
  color: #000000;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.device_image {
  width: 100%;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.device_image > img {
  max-width: 100%;
  max-height: 350px;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}

.device_expand {
  color: #666666;
  display: none;
  font-size: var(--subtitle-size);
  padding: 1rem 0;
}

@media (max-width: 1200px) {
  .id {
    padding: 2rem 3rem 1rem 3rem;
  }

  .id_inside {
    flex-direction: column;
  }

  .id_left {
    order: 1;
    width: 100%;
    flex-direction: row;
    gap: 1%;
  }

  .id_left > div {
    width: 49.5%;
  }

  .id_separator {
    display: none;
  }

  .project {
    width: auto;
  }

  #devices {
    flex-direction: column;
    justify-content: space-between;
  }

  .device {
    margin: 1.2rem 0;
    width: auto;
  }
}

@media (max-width: 800px) {
  .device_summary {
    display: block;
  }

  .device_title {
    display: none;
  }

  .device_expand {
    display: block;
  }
}
